<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>

<div class="container">
  <h1>Shift</h1>


  <h2>Commandes en cours</h2>

  <div   class="card card-body mb-2">
    <ul id="cardBod">

    </ul>

  </div>



</div>
