<div class="card card-body" >
  <h3>Nouvelle Commande</h3>
  <form class="new" action="/menu"  method="post">


    <div class="form-group">
      <label for="exampleFormControlSelect1">Mac and Cheese / Oreo</label>
      <select class="form-control" id="exampleFormControlSelect1" name="mco">
        <option>0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>

    <div class="form-group">
      <label for="exampleFormControlSelect1">Mac and Cheese / Speculos</label>
      <select class="form-control" id="exampleFormControlSelect1" name="mcs">
        <option>0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>

    <div class="form-group">
      <label for="exampleFormControlSelect1">Mac and Cheese / Mais</label>
      <select class="form-control" id="exampleFormControlSelect1" name="mcm">
        <option>0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>


    <div class="form-group">
      <label for="exampleFormControlSelect1">Riz / Mais</label>
      <select class="form-control" id="exampleFormControlSelect1" name="rm">
        <option>0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>

    <div class="form-group">
      <label for="exampleFormControlSelect1">Riz / Oreo</label>
      <select class="form-control" id="exampleFormControlSelect1" name="ro">
        <option>0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>

    <div class="form-group">
      <label for="exampleFormControlSelect1">Riz / Speculos</label>
      <select class="form-control" id="exampleFormControlSelect1" name="rs">
        <option>0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>


      <h3>Boisson</h3>



        <div class="form-group">
          <label for="exampleFormControlSelect1">Fanta</label>
          <select class="form-control" id="exampleFormControlSelect1" name="fanta">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>

        <div class="form-group">
          <label for="exampleFormControlSelect1">Fanta Exotic</label>
          <select class="form-control" id="exampleFormControlSelect1" name="fantaEx">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>

        <div class="form-group">
          <label for="exampleFormControlSelect1">Fanta Fraise/Kiwi</label>
          <select class="form-control" id="exampleFormControlSelect1" name="fantaFK">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>


        <div class="form-group">
          <label for="exampleFormControlSelect1">Coca</label>
          <select class="form-control" id="exampleFormControlSelect1" name="coca">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>

        <div class="form-group">
          <label for="exampleFormControlSelect1">Coca Zero</label>
          <select class="form-control" id="exampleFormControlSelect1" name="cocaZe">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>

        <div class="form-group">
          <label for="exampleFormControlSelect1">Hawai Tropical</label>
          <select class="form-control" id="exampleFormControlSelect1" name="hawai">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>

        <div class="form-group">
          <label for="exampleFormControlSelect1">Maaza Tropical</label>
          <select class="form-control" id="exampleFormControlSelect1" name="maazaTr">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>

        <div class="form-group">
          <label for="exampleFormControlSelect1">7up Mojito</label>
          <select class="form-control" id="exampleFormControlSelect1" name="sUpMo">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>

        <div class="form-group">
          <label for="exampleFormControlSelect1">Cristaline</label>
          <select class="form-control" id="exampleFormControlSelect1" name="cristaline">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>

        <div class="form-group">
          <label for="exampleFormControlSelect1">Ginger Beer</label>
          <select class="form-control" id="exampleFormControlSelect1" name="ginger">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>

        <div class="form-group">
          <label for="exampleFormControlSelect1">Oasis Tropical</label>
          <select class="form-control" id="exampleFormControlSelect1" name="oasisTr">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>

        <div class="form-group">
          <label for="exampleFormControlSelect1">Oasis Fraise Framboise</label>
          <select class="form-control" id="exampleFormControlSelect1" name="oasisFr">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>

        <div class="form-group">
          <label for="exampleFormControlSelect1">Tropico</label>
          <select class="form-control" id="exampleFormControlSelect1" name="tropico">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>

        <div class="form-group">
          <label for="exampleFormControlSelect1">Lipton Peach</label>
          <select class="form-control" id="exampleFormControlSelect1" name="liptonPe">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>

        <div class="form-group">
          <label for="exampleFormControlSelect1">Lipton Original</label>
          <select class="form-control" id="exampleFormControlSelect1" name="liptonOr">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>

        <button type="submit" class="btn btn-primary">Checkout</button>
    </div>

  </form>
</div>
